body {
  background: linear-gradient(
    90deg,
    rgb(208, 206, 240) 0%,
    rgba(205, 197, 165, 1) 27%,
    rgba(155, 210, 221, 1) 100%
  );
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
header {
  text-align: center;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(to left, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#container {
  margin: 30px;
  border-width: 1px;
  border-style: dotted;
  border-color: rgb(232, 58, 58);
  box-shadow: 15px 15px 5px #5e4d17;
  margin-bottom: 30px;
}
form {
  margin-top: 50px;
  margin-left: 85px;
  padding: 20px;
}
#info {
  background: linear-gradient(to left, #f32170, #ff6b08, #cf23cf, #ff6b08);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#ingredient {
  padding-left: 10px;
  width: 70%;
  height: 35px;
  border-color: black;
  background-color: rgb(208, 237, 237);
  opacity: 0.6;
}
#search {
  width: 12%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(208, 237, 237);
}

#result {
  max-width: 600;
  padding: 140px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  background-color: rgba(237, 191, 191, 0.336);
  box-shadow: 15px 15px 5px #5e4d17;
  border-width: 1px;
  border-style: dotted;
  border-color: rgb(232, 58, 58);
  margin-bottom: 100px;
}

footer {
  opacity: 0.7;
  font-family: "Courier New", Courier, monospace;
  color: rgb(117, 117, 174);
  text-align: center;
}
a {
  text-decoration: underline;
  color: black;
}
